.cards__contactos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
}
.card__contacto {
    display: flex;
    margin: 0 auto;
    padding: 5% 0 5% 0;
}
.card__contacto--medios {
    background-color: #f9fbfc;
    width: 50%;
    max-width: 320px;
    border-radius: 30px;
    padding: 15px;
    margin: 15px 0 15px 25px;
    display: grid;
    box-shadow: 1px 1px 1px #2b2b2b;
}
.card__contacto--cel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 0 auto;
}
.card__contacto--mediosCel {
    display: none;
    background-color: #f9fbfc;
    max-width: 310px;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 1px 1px 1px #2b2b2b;
    align-content: center;
}
.card__contacto--formulario {
    display: flex;
    width: 80%;
    margin-bottom: 50px;
}
.formulario {
    background-color: #f9fbfc;
    max-width: 800px;
    border-radius: 30px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 5%;
    display: grid;
    box-shadow: 1px 1px 1px #2b2b2b;
}

.f-label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}