nav {
  background-color: #191919;
}

p {
  margin: 0 auto;
  color: #000;
}

.solucionesG__titulo {
  text-decoration: none;
  color: #f8f5d6;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
}

header {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
}

main {
  min-height: 100vh;
}

.sgNavbar {
  margin-bottom: 0;
}

.menu {
  background-image: url("../images/header-fondo.png");
  background-size: 100%;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.menu__icono {
  display: none;
  padding: 5%;
}

li {
  display: inline-block;
}

.enlacePaginas {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}

.enlaceTextShadow {
  text-shadow: 0px 0px 15px #fff;
}

ul li:hover {
  text-shadow: 0px 0px 15px #fff;
}

.parallaxLoquehacemos {
  background-image: url("https://image.freepik.com/foto-gratis/ideas-vision-mision-creativa-solucion-cocnept_53876-123786.jpg");
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
  margin-bottom: 40px;
}

.parallaxNuestras {
  background-image: url("https://images.pexels.com/photos/2857477/pexels-photo-2857477.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
  margin-bottom: 40px;
}

.parallaxEquipo {
  background-image: url("https://image.freepik.com/foto-gratis/colegas-dando-golpe-puno_53876-64857.jpg");
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
  margin-bottom: 40px;
}

.parallaxContacto {
  background-image: url("https://images.pexels.com/photos/207456/pexels-photo-207456.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
  margin-bottom: 40px;
}