.cardCreaciones {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
    grid-auto-rows: 500px;
}
.cardCreacion {
    @extend .card;
    display: grid;
    place-self: center;
    width: 310px;
    min-height: 380px;
}
.cardCreacion__img {
    width: 250px;
    place-self: center;
    transition: all 1s;
}
.cardCreacion__img:hover {
    width: 270px;
}
.cardDescription {
    place-self: center;
}
.cards {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-flow: row wrap;
    justify-content: center;
}

.card__title {
    @include card__title(20px)
}

.card__img {
    display: block;
    margin: 0 auto;
    width: 250px;
    max-height: 137px;
    border-radius: 30px;
    overflow: hidden;
    & img {
        width: 100%;
        height: 100%;
        transition: all 1s;
        &:hover {
            width: 280px;
            transform: scale(1.3);
        }
    }
}

.card__text {
    width: 90%;
    padding: 10px;
}